@import '~bootstrap/scss/bootstrap';

//HEADER CLASSESS

header{
    height: 4rem;
    background-color: rgb(25, 25, 25);
    border-bottom: .5rem solid rgb(210, 177, 30);
    box-shadow: 0rem .2rem .3rem rgba(0, 0, 0, 0.250);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .container{
        height: 100%;
        h1{
            color: aliceblue;
            text-transform: uppercase;
            span{
                color: rgb(210, 177, 30);
            }
        }
    }
}

//MAINCLASSESS

main{
    padding-top: 5rem;
    background-color: rgb(30, 30, 30);
    padding-bottom: 5rem;
}

.stations{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.colorp{
    color: rgb(210, 177, 30);
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 1);
}
.card{
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.3);
    background-color: rgb(235, 235, 235);
    transition: all 250ms;
    &:hover{
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        transform: scale(1.05);
    }
}
.carrozze{
    font-size: 1.2rem;
    font-weight: 600;
}
.positivec{
    color: green;
    text-transform: uppercase;
    font-weight: 700;
}

.negativec{
    color: rgb(255, 123, 0);
    text-transform: uppercase;
    font-weight: 700;
}
.negativeb{
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
}

//FOOTER CLASSESS

footer{
    height: 4rem;
    background-color: rgb(25, 25, 25);
    border-top: .5rem solid rgb(210, 177, 30);
    box-shadow: 0rem -.2rem .3rem rgba(0, 0, 0, 0.250);
    position: fixed;
    bottom: 0;
    width: 100%;
    .container{
        height: 100%;
        a{
            color: rgb(210, 177, 30);
            transition: all 250ms;
            text-decoration: none;
            &:hover{
                text-shadow: 0 0 .5rem rgba(255, 255, 255, 0.500);
                font-size: 2rem;
            }
        }
    }
}